body {
    background: linear-gradient(135deg, #f0f4ff, #dfe9f3);
    font-family: "Poppins", sans-serif;
}

.card {
    border-radius: 16px;
}

.btn-primary {
    background-color: #0069d9;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}